
img.rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

body{
    background: #000;
    color: #EEE;
}

img.roundedsmall {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

h2{  
  font-size: 20px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 18px;
}
b{
  font-size: 18px;
}
ul{
  margin-bottom: 1.5px;
}
a:hover {text-decoration: underline;color:lightgreen;}
a {text-decoration: none; color:lightseagreen}